[Unit]
Description=Trigger OS Update if an update is overdue

[Service]
Type=simple
Restart=no
RemainAfterExit=yes
ExecStart=/usr/bin/swupd-overdue

[Install]
WantedBy=multi-user.target
